header {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.burger-menu, .search {
    width: 34px;
    height: 34px;
}

body {
    background-color: #1E1E1E;
}

.container {
    margin: 0 35px 0 35px;
}