* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 0 35px 0 35px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 62px 242px 192px 192px 192px 269px;
    grid-template-areas: 
    "header header"
    "main main"
    "content-one content-two"
    "content-three content-four"
    "content-five content-six"
    "footer footer"
    ;
}

header {
    grid-area: header;
    background-color: darkred;
}

main {
    grid-area: main;
    background-color:  blue;

}

footer {
    grid-area: footer;
    background-color: brown;
}

#sidebar {
    grid-area: sidebar;
    background-color: red;

}

#content-one {
    grid-area: content-one;
    background-color: green;

}

#content-two {
    grid-area: content-two;
    background-color: greenyellow;

}

#content-three {
    grid-area: content-three;
    background-color: blueviolet;

}

#content-four {
    grid-area: content-four;
    background-color: rebeccapurple;

}

#content-five {
    grid-area: content-five;
    background-color: darkcyan;

}

#content-six {
    grid-area: content-six;
    background-color: grey;

}

@media only screen and (min-width:640px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
        grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "sidebar content-one content-two content-three"
        "sidebar footer footer footer"
        ;
        column-gap: 0.2rem;
        row-gap: 0.2rem;
    }
    #sidebar {
        display: none;
        }
}